# Урлы
STREAM_URL=http://адрес видеопотока
WEBSOCKET_URL=ws://адрес вебсокета клиента
WEBSOCKET_URL_ROBOT=ws://адрес вебсокета робота
HOST_APP=ip или доменное имя для app
PORT_APP=порт для app
IS_RELOAD=True для разработки, False для обычного использования

# Команды для робота
FORWARD=вперёд
BACKWARD=назад
LEFT=влево
RIGHT=вправо
STOP=стоп