/* Задает общий фон страницы */
body {
    background-color: #f8f9fa;
}

/* Создает тень для карточки, добавляя глубину и визуальную привлекательность */
.card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Устанавливает черный цвет фона для элементов с классами card-command и card-body */
.card-command, .card-body {
    background-color: black;
}

/* Устанавливает стили для блока card-command */
.card-command {
    width: 100%; /* Задает ширину в 100% */
    border-top-left-radius: 0; /* Убирает закругление верхнего левого угла */
    border-top-right-radius: 0; /* Убирает закругление верхнего правого угла */
}

/* Определяет стили для горизонтальной линии между элементами */
.line {
    background-color: #ffc107; /* Задает желтый цвет линии */
    height: 6px; /* Высота линии */
    width: 100%; /* Линия занимает всю ширину блока */
}

/* Определяет максимальную ширину изображения и делает его адаптивным */
img {
    max-width: 100%; /* Ограничивает ширину изображения, чтобы оно не выходило за пределы контейнера */
    height: auto; /* Автоматически изменяет высоту изображения пропорционально ширине */
}